_dependency_fork/postgresql-simple-migration/dist-newstyle/
_dependency_fork/postgresql-simple-migration/src/Main

DB/postgres/

back-end/dist-newstyle/
back-end/.stack-work/
back-end/out/
back-end/src/Pentest/
back-end/run_deploy.sh

gowebsocket/

front-end/assets/run_deploy.sh
*.env

*~